/* Body format */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #D9D9D9;
}
html, body {
    height: 100%;
  }
/* Header */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header b {
    font-size: 25px;
}
header input {
    width: 105px;
}
header div{
    background-color: #91AD95;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 0.5em;
    color: #fff;
}
.edit-button {
    background-color: #91AD95;
    border-color: #91AD95;
    border: none;
}
/* Nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5e7eb3;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #698dc9;
  }
  li:nth-child(2) :hover {
    background-color: #5e7eb3;
  }
  li:nth-child(2) {
    border-right: 2px solid #fff;
  }
  li img{
    width: 35px;
    margin: 5px;
}
/* the wraper */
.wraper {
    background-color: #91AD95;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 51px;
    margin: 0 50px; 
    border-radius: 1em;
    text-align: center;
    overflow: auto;
    /* Uncomment this one to test the scroll function. */
    /* height: 100px; */
}

.wraper div {
    height: 100px;
    background-color: #698dc9;
    margin: 15px;
    border-radius: 1em;
}
.card {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
}
.card div {
    height: 0;
    color: #fff;
}
.card img{
    width: 75px;
}
.card input {
    width: 105px;
    margin-top: 20%;
}
.card button {
    background-color: #3D6062;
    box-shadow: none;
    border-color: #3D6062;
    color: white;
    margin-top: 50%;
    border: none;
    width: 50px;
    height: 20px;
}
.card-info {
    display: flex;
    flex-direction: column;
}
