/* Body format */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #D9D9D9;
}
html, body {
    height: 100%;
  }
/* Nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #874AC5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9D71C9;
  }

  li:nth-child(2) {
    border-right: 2px solid #fff;
  }
  li img{
    width: 35px;
    margin: 5px;
}
/* the cards */
  .section {
    display: flex;
    justify-content: space-around;
    padding: 51px;
    margin: 10% 20px;
  }

  .section div {
    background-color: #874AC5;
    height: 350px;
    width: 25%;
    text-align: center;
    padding: 15px;
  }

  .section div:hover {
    background-color: #9D71C9;
  }

  .section div:hover>div {
    background-color: #9D71C9;
  }
  
.card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    border-radius: 0.7em;
    align-items: center;
    color: #fff;
    font-size: 35px;
}

.card input {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.card input:first-of-type  {
    width: 50%;
}

.card img{
    width: 75px;
}
.div-button img{
    width: 75px;

}
.div-button {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    color: #fff;
    font-size: 35px;
    border-radius: 0.7em;
}

.mountain {
    color: #DB7A50;
}

.city {
    color: #6594EF;
}
.end-btn {
    margin-top: 2vw;
    background-color: #D9D9D9;
    border: none;
    color: #000000;
    width: 35px;
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}
  
