
<ul>
    <li><img src="assets/bike.png"></li>
    <li><a class="logo"><b>GetYoBike</b></a></li>
    <li><a class="active" href="/index.html">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
</ul>

@code {

}
