@page "/checkout"

@inject IJSRuntime JsRuntime
@using GetYoBike.Shared.Models;
@inject NavigationManager NavManager
@inject HttpClient Http

@*<header>
    <b><b style="color:#6594EF;">Rent City Bike</b> - Payment</b>
</header>*@
<Header Color="#6594EF" Title="Rent City Bike" Subtitle="Payment" />
<div class="grid-container">

    <div class="left">

        <form action="" method="post" id="formContainer">
            <div class="username">
                <div class="cardnr-grid">
                    <label for="Card Number" class="formLabel">Card Number</label>
                    <br />
                    <input type="number" name="Card Number" id="cardnumber" class="cardnr" @bind="NrCard">
                </div>
                <div class="firstname-grid">
                    <label for="first Name" class="formLabel">CVC</label>
                    <br />
                    <input type="text" name="First Name" id="firstname" class="cvc" @bind="FirstName">
                </div>
                <div class="month-grid">
                    <label for="month" class="formLabel">Card Expiration Date</label>
                    <br />
                    <input type="month" name="month" id="month" class="month" placeholder="month" @bind="Month">
                </div>
                <div class="cardname-grid">
                    <label for="cardname" class="formLabel">Name On Card</label>
                    <br />
                    <input type="cardname" name="cardname" id="cardname" class="cardname" @bind="CardName">
                </div>

                <br />
            </div>
        </form>
        <div class="backbutton" @onclick="BackToDetails">
            <i class="fa fa-arrow-left"></i><span> Rent Details</span>
        </div>
    </div>

    <div class="right-top">
        <img src="@SelectedImagePath" class="img-div">
    </div>

    <div class="right-bottom">
        <total class="total">
            <span>Total: @Price lei</span>
        </total>
        <button class="button" style="vertical-align:middle">
            <span>Checkout </span>
        </button>
    </div>
</div>

@* NavManager.NavigateTo($"/checkout?id={user.Id}&type={bikeTypeNr}&date={dateString}&duration={RentDuration}"); *@

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "userId")]
    public int UserId{ get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "type")]
    public int BikeTypeNr { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "date")]
    public string RentDate { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "duration")]
    public int RentDuration { get; set; }

    public string SelectedImagePath { get; set; } = "";

    public decimal Price { get; set; } = 0;

    public int NrCard { get; set; } = 0;

    public string FirstName { get; set; } = "";

    public DateTime Month { get; set; }

    public string CardName { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        switch (BikeTypeNr)
        {
            case 1:
                SelectedImagePath = "assets/rentCityBike.png";
                break;
            case 2:
                SelectedImagePath = "assets/rentMountainBike.png";
                break;
        }

        BikeTypeModel bikeType = await Http.GetFromJsonAsync<BikeTypeModel>("api/BikeTypes/" + BikeTypeNr);

        if (RentDuration > 0)
        {
            Price = RentDuration * bikeType.Price;
        }

        if (RentDuration > 4)
        {
            Price *= 0.85m;
        }
    }

    public void BackToDetails()
    {
        //Eventually give the parameters back(two types of @page)
        //$"/checkout?id={user.Id}&type={bikeTypeNr}&date={RentDate}&duration={RentDuration}"
        NavManager.NavigateTo($"/details/{BikeTypeNr}");
    }
}
