@page "/edit"

<header>
    <b>Edit Rent Details</b>
</header>
<div class="grid-container">

    <div class="left-top">

        <form action="" method="post" id="formContainer">
            <div class="username">
                <div class="email-grid">
                    <label for="email" class="formLabel">Email</label>
                    <br />
                    <input type="email" name="email" id="email" class="email">
                </div>
                <div class="rentstart-grid">
                    <label for="rent" class="formLabel">Rent Start Date</label>
                    <br />
                    <input type="date" id="rent" class="rentstart" />
                </div>
                <div class="duration-grid">
                    <label for="duration" class="formLabel">Duration</label>
                    <br />
                    <input type="number" name="duration" id="duration" class="duration" placeholder="hh">
                </div>

                <br />
            </div>
        </form>
    </div>

    <div class="right">
        <div class="type">
            <span>Bike Type</span>
        </div>

        <div class="wrapper">
            <div class="tabs">
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                    <label for="tab-1" class="tab-label"><img src="assets/buildings.png" class="img-tab"></label>
                    <div class="tab-content"><img src="assets/rentbike.png" class="img-div"></div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                    <label for="tab-2" class="tab-label"><img src="assets/mountain.png" class="img-tab"></label>
                    <div class="tab-content"><img src="assets/rentbike.png" class="img-div"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="left-bottom">
        <div class="flex-contianer">
            <button class="button" style="vertical-align:middle">
                <span>Cancel Rent</span>
            </button>
            <div class="total">
                <span>Total: 65 lei</span>
            </div>
            <button class="buttonc" style="vertical-align:middle">
                <span>Confirm Changes</span>
            </button>
        </div>
    </div>
</div>
@code {

}
