@page "/"

@using GetYoBike.Shared.Models;
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<section class="section">

    <div class="div-button" onclick="myFunction()">
        <!--myFunction makes it work like a button-->
        <span><img src="assets/buildings.png"></span>
        <p><b>Rent <br> <span class="city">City</span> <br>Bike</b></p>
    </div>

    <div class="card">
        <span class="image"><img src="assets/file-management.png"></span>
        <span><b>Change <br> Rent details </b></span>
        <span>
            <input @bind="userEmail" type="email" placeholder="Rent Email">
        </span>
        <button class="end-btn" @onclick="SendToRents"><i class="fa fa-chevron-right"></i></button>
    </div>

    <div class="div-button">
        <!--myFunction makes it work like a button-->
        <span><img src="assets/mountain.png"></span>
        <p><b>Rent <br> <span class="mountain">Mountain</span> <br>Bike</b></p>

    </div>

</section>
@code {
    private UserModel user;
    private string userEmail;

    private async void SendToRents()
    {
        if (userEmail != "")
        {
            user = await Http.GetFromJsonAsync<UserModel>("api/User/FindUser/" + userEmail);
            //NavManager.NavigateTo($"/rents/{userEmail}");
            NavManager.NavigateTo("/rents");
        }
    }
}
