@page "/about"

<div class="wraper">
    <div>
        <b>
            Prices <br><br><br>
            <span class="text">
                City: 5 lei / hour <br><br>
                Mountain: 10 lei / hour <br><br><br><br>
            </span>
            15% discount on rents longer than 4 hours
        </b>
    </div>
    <div>
        <b>Rules<br><br><br></b>
        <span class="text">
            -> only persons between the age of 14-70 are allowed to rent a bike<br><br>
            -> a bike can be rented only for 48 hours<br><br>
            -> the person that rented the bike has to return the bike after the 48 hours expired from the location they have rented<br><br>
            -> please remember your mail and PIN that you receive when you rent a bike from us!<br><br>
            -> if there are any problems regarding our page please contact us<br><br><br><br>
        </span>
        HAVE FUN! :)
    </div>
</div>
@code {

}
