<!-- Wrapper -->
@page "/about"
<div class="wraper">
    <div>
        <b>
            Prices <br><br><br>
            <span class="text">
                City: 5 lei / hour <br><br>
                Mountain: 10 lei / hour <br><br><br><br>
            </span>
            15% discount on rents longer than 4 hours
        </b>
    </div>
    <div>
        <b>Rules</b>
    </div>
</div>
@code {

}
