@page "/thanks"
<div class="wraper">
    <div class="card">
        <div>
            <!-- Can use the class (location) to change the color -->
            <b>Thank you for renting a <span class="location">City</span> Bicycle!</b>
        </div><br><br>
        <div>
            To edit the renting detals, please use the following PIN after <br> accessing your rents list on the homepahe through the email.
        </div><br>
        <div class="box">
            <!-- Can use the class (email/pin) to extract from database, or do as u want -->
            <div>Rent Made on Email: <span class="email">exemplu@gmail.com</span></div><br>
            <div>Rent Edit PIN: <span class="pin">385732</span></div>
        </div>
        <div>
            <button class="home-button">Home</button>
        </div>
    </div>

</div>
@code {
        
}
