/* the wraper */
.wraper {
    background-color: #91AD95;
    padding: 51px;
    margin: 10% 16%; /* modify the % depending of the screen I guess */
    border-radius: 1em;
    text-align: center;
    color: #fff;
    font-size: 25px;
    display: flex;
    position: absolute
}

.location {
    color: #6594EF;
}

.box {
    background-color: #5e7eb3;
    padding: 25px;
    width: 700px;
    text-align: left;
}

.home-button {
    background-color: #3E6069;
    border: none;
    margin-top: 50px;
    width: 80px;
    height: 25px;
    color: #fff;
}
